<div class="container">
    <div class="details row mt-5 mb-5">
        <div class="col-lg-4 d-flex justify-content-evenly fromto me-5">
            <div>
                <p>From</p>
                <h5>Pickup Location</h5>
            </div>
            <div>
                <p>To</p>
                <h5>Dropdown Location</h5>
            </div>
        </div>
        <div class="col-lg-6 bg-warning choosebanner ">
            <h4>Choose Your Plan</h4>
        </div>
    </div>
    <h2 class="mb-4">Choose your plan</h2>
    <hr>
    <div class="plan mt-2 d-flex justify-content-evenly">
        <div class="plan-car">
            <h5 class="text-center">Suzuki Swift</h5>
            <img class="container-fluid" src="https://imgd.aeplcdn.com/600x337/n/cw/ec/54399/swift-exterior-right-front-three-quarter-64.jpeg" alt="">
        </div>
        <div class="plans p-5">
            <h2 class="mb-4">Basic</h2>
            <p>Security Deposit - $ 6000</p>
            <p class="fw-bolder">450 kms</p>
            <p>Cancellation as per policy</p>
            <p>Non Amendable</p>
            <p>Damage policy inline with T&C</p>
            <p>Additional KM Charge - $10/km</p>
            <button class="btn  planbtn1">$ 9660</button>
        </div>
        <div class="plansp p-5">
            <h2 class="mb-4">Premium</h2>
            <p>No Security Deposit</p>
            <p>Unlimited KMs</p>
            <p>Cancellation as per policy</p>
            <p>Amendable</p>
            <p>Damage policy inline with T&C</p>
            <p>Additional Driver in Cooperated</p>
            <button class="btn  planbtn">$ 19660</button>
        </div>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
        <div>
            <p>Grand Total</p>
            <h2>$ 9660</h2>
        </div>
        <div>
            <div routerLink="/confirm-payment" style="width: 300px; height: 60px;" class="btn btn-warning d-flex justify-content-center align-items-center">
                <h5>Proceed to Checkout</h5>
            </div>
        </div>
    </div>

</div>