<div class="car-selector p-4">
    <div class="container mt-5 mb-5 ">
        <div class="row">
            <div class="col-lg-4 d-flex flex-column">
                <div class="from"> 
                    <img  src="https://img.freepik.com/free-photo/psychedelic-paper-shapes-with-copy-space_23-2149378246.jpg?w=1380&t=st=1703830918~exp=1703831518~hmac=8a8d967bf0b4145ec858214ccfc40c46a7045c489a35ebf4192e6ad0726677f2" alt="">
                    <p>From</p>
                    <h5>pickup location</h5>
    
                </div>
                <div class="to"> <img src="https://img.freepik.com/free-photo/psychedelic-paper-shapes-with-copy-space_23-2149378246.jpg?w=1380&t=st=1703830918~exp=1703831518~hmac=8a8d967bf0b4145ec858214ccfc40c46a7045c489a35ebf4192e6ad0726677f2" alt="">
                    <p>To</p>
                    <h5>Drop location</h5>
                </div>
            </div>
            <div class="col-lg-8">
                <div>
                    <ul class="d-flex justify-content-evenly border shadow ">
                        <li style="font-size: 25px;"><a>Hatchback</a></li>
                        <li style="font-size: 25px;"><a>Sedan</a></li>
                        <li style="font-size: 25px;"><a>SUV</a></li>
                        <li style="font-size: 25px;"><a>Luxury</a></li>
                    </ul>
                </div>
                <div class="cars-card">
                    <app-cars></app-cars>
                </div>
            </div>
        </div>
    </div>
</div>