<div>
    <div class=" container justify-content-center mt-5">
        <h3 class="text-center mb-4">About</h3>
        <img class="img-fluid" src="https://www.evmwheels.com/front-theme/images/about_us_banner.png" alt="">

        <p class="mt-3 mb-3 fw-bolder"> Car Castle - Your Perfect Travel Companion to Explore Spectacular Kerala </p>

            <p class="mt-3 mb-3 fw-bolder">Car Castle (subsidiary of Car Castle Passenger Cars India Pvt Ltd.) based in Kerala, blessed by nature and culture, beckons you with its palm-fringed beaches, serene backwaters, lush hill stations and rich heritage. To experience the magic of this tropical paradise at your own pace, Car Castle offers the perfect travel companion - our wide range of self-drive rental cars.</p>
            
           <p class="mt-3 mb-3 fw-bolder"> Car Castle brings the legacy of CC Group, trusted automotive partners in Kerala for over 6 decades. We inherit their heritage of excellence in vehicle retail and service to make your travel experiences more memorable.</p>
            
            <p class="mt-3 mb-3 fw-bolder">Our hatchbacks, sedans, MUVs and SUVs cater to solo travelers, couples, families and groups of all sizes. Rent for a few days for local drives or take weekly/monthly rentals for leisurely vacations. Car Castle rentals will be your flexible travel buddy across Kerala! Budget-Friendly Packages for All We understand traveling can be expensive, so our self-drive rentals are light on your pockets. Our transparent rates along with flexible daily, weekly and monthly packages fit every budget and trip plan. Long term rentals come with great discounts!</p>
            
           <p class="mt-3 mb-3 fw-bolder"> Service You Can Count On</p>
            
           <p class="mt-3 mb-3 fw-bolder"> Customer delight is our top priority. Our team offers exceptional service through your rental journey - from booking to delivery to returns and beyond. Contact us 24x7 for instant resolution of all queries. We aim to make self-drive vacations in Kerala smooth and memorable for you.</p>
            
            <p class="mt-3 mb-3 fw-bolder">You Drive Safely, We Take Care of the Rest</p>
            
            <p class="mt-3 mb-3 fw-bolder">As an CC Group company, we maintain stringent standards in safety and maintenance for our rental fleet. Our cars are regularly serviced, sanitized and inspected by experts to ensure your peace of mind always. Comprehensive insurance further protects you on the road. You can trust Car Castle to be your satisfying, safe and stress-free travel companion across magical Kerala!</p>
            
            <p class="mt-3 mb-3 fw-bolder">So unlock the freedom of self-driven holidays with Car Castle as your perfect travel buddy. Our cars, services and reliability will make your Kerala trip comfortable while our affordable prices delight your pocket. Visit www.carcastlewheels.com to book your preferred self-drive rental today. Let's hit the open roads!</p>
            
    </div>
</div>