<div class="hatchback-cars mb-4 d-flex justify-content-evenly" id="#hatch">
        <div class="d-flex flex-column  " data-bs-toggle="modal" data-bs-target="#suzuki">
            <figure>
                <img class="container-fluid" src="https://imgd.aeplcdn.com/600x337/n/cw/ec/54399/swift-exterior-right-front-three-quarter-64.jpeg?isig=0&q=80" alt="hatchback">
                <figcaption>Suzuki Swift
                </figcaption>
            </figure>
            <button class="btn btn-warning" >Suzuki Swift</button>
        </div>
        <div class="d-flex flex-column " data-bs-toggle="modal" data-bs-target="#polo">
            <figure>
                <img class="container-fluid" src="https://imgd.aeplcdn.com/664x374/n/cw/ec/29628/polo-exterior-right-front-three-quarter-2.jpeg?q=80" alt="hatchback">
                <figcaption>Volkswagen Polo
                </figcaption>
            </figure>
            <button class="btn btn-warning">Volkswagen Polo</button>
        </div>
    </div>
    <div class="sedan-cars mb-4 d-flex justify-content-evenly align-items-center" id="#sedan">
        <div class="d-flex flex-column " data-bs-toggle="modal" data-bs-target="#city">
            <figure>
                <img class="container-fluid" src="https://imgd.aeplcdn.com/370x208/n/cw/ec/27074/civic-exterior-right-front-three-quarter-148155.jpeg?q=80" alt="sedan">
                <figcaption>Honda City </figcaption>
            </figure>
            <button class="btn btn-warning">Honda City </button>
        </div>
        <div class="d-flex flex-column " data-bs-toggle="modal" data-bs-target="#virtus">
            <figure>
                <img class="container-fluid" src="https://imgd.aeplcdn.com/642x336/n/cw/ec/144681/virtus-exterior-right-front-three-quarter-7.jpeg?isig=0&q=80" alt="sedan">
                <figcaption>Volkswagen Virtus</figcaption>
            </figure>
            <button class="btn btn-warning">Volkswagen Virtus</button>
        </div>
    </div>
    <div class="suv-cars mb-4 d-flex justify-content-evenly">
        <div class="d-flex flex-column " data-bs-toggle="modal" data-bs-target="#seltos">
            <figure>
                <img class="container-fluid" src="https://cdni.autocarindia.com/Utils/ImageResizer.ashx?n=https://cdni.autocarindia.com/Galleries/20190806050125_GT_05567-01-01.jpg&w=872&h=578&q=75&c=1" alt="">
                <figcaption>KIA Seltos</figcaption>
            </figure>
            <button class="btn btn-warning">KIA Seltos</button>
        </div>
        <div class="d-flex flex-column " data-bs-toggle="modal" data-bs-target="#creta">
            <figure>
                <img class="container-fluid" src="https://imgd.aeplcdn.com/1920x1080/n/cw/ec/141115/creta-exterior-right-front-three-quarter-16.jpeg?isig=0&q=80&q=80" alt="">
                <figcaption>Hyundai Creta</figcaption>
            </figure>
            <button class="btn btn-warning">Hyundai Creta</button>
        </div>
    </div>
    <div class="luxury-cars mb-4 d-flex justify-content-evenly">
        <div class="d-flex flex-column " data-bs-toggle="modal" data-bs-target="#bmw">
            <figure>
                <img class="container-fluid" src="https://imgd-ct.aeplcdn.com/664x415/n/x5hko3a_1582599.jpg?q=80" alt="">
                <figcaption>BMW i4</figcaption>
            </figure>
            <button class="btn btn-warning">BMW i4</button>
        </div>
        <div class="d-flex flex-column " data-bs-toggle="modal" data-bs-target="#benz">
            <figure>
                <img class="container-fluid" src="https://imgd.aeplcdn.com/642x336/n/cw/ec/150621/g-class-exterior-right-front-three-quarter-3.jpeg?isig=0&q=80">
                <figcaption>Benz G-Wagon</figcaption>
            </figure>
            <button class="btn btn-warning">Mercedes G- Wagon</button>
        </div>
    </div>

      
    <!-- swift modal -->
    <div class="modal fade" id="suzuki" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Suzuki Swift 2022 Model</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img class="container" src="https://imgd.aeplcdn.com/600x337/n/cw/ec/54399/swift-exterior-right-front-three-quarter-64.jpeg" alt="">
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <div class="cadetails">Basic Starts From: $ 2357</div>
              <button routerLink="/confirmbooking" type="button" class="btn btn-warning">Book now</button>
            </div>
          </div>
        </div>
      </div>
        <!-- polo modal -->
        <div class="modal fade" id="polo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Volkswagen Polo</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img class="container" src="https://imgd.aeplcdn.com/664x374/n/cw/ec/29628/polo-exterior-right-front-three-quarter-2.jpeg" alt="">
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <div class="cadetails">Basic Starts From: $ 2357</div>
                    <button routerLink="/confirmbooking" type="button" class="btn btn-warning">Book now</button>
                  </div>
              </div>
            </div>
          </div>
                  <!-- city modal -->
        <div class="modal fade" id="city" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Honda City</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img class="container" src="https://imgd.aeplcdn.com/370x208/n/cw/ec/27074/civic-exterior-right-front-three-quarter-148155.jpeg" alt="">
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <div class="cadetails">Basic Starts From: $ 2357</div>
                    <button routerLink="/confirmbooking" type="button" class="btn btn-warning">Book now</button>
                  </div>
              </div>
            </div>
          </div>
                  <!-- virtus modal -->
        <div class="modal fade" id="virtus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Volkswagen Virtus</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img class="container" src="https://imgd.aeplcdn.com/642x336/n/cw/ec/144681/virtus-exterior-right-front-three-quarter-7.jpeg" alt="">
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <div class="cadetails">Basic Starts From: $ 2357</div>
                    <button routerLink="/confirmbooking" type="button" class="btn btn-warning">Book now</button>
                  </div>
              </div>
            </div>
          </div>
                  <!-- kia modal -->
        <div class="modal fade" id="seltos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">KIA Seltos </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img class="container" src="https://cdni.autocarindia.com/Utils/ImageResizer.ashx?n=https://cdni.autocarindia.com/Galleries/20190806050125_GT_05567-01-01.jpg&w=872&h=578&q=75&c=1" alt="">
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <div class="cadetails">Basic Starts From: $ 2357</div>
                    <button routerLink="/confirmbooking" type="button" class="btn btn-warning">Book now</button>
                  </div>
              </div>
            </div>
          </div>
                  <!-- creta modal -->
        <div class="modal fade" id="creta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Hyundai Creta</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img class="container" src="https://imgd.aeplcdn.com/1920x1080/n/cw/ec/141115/creta-exterior-right-front-three-quarter-16.jpeg?isig=0&q=80&q=80" alt="">
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <div class="cadetails">Basic Starts From: $ 2357</div>
                    <button routerLink="/confirmbooking" type="button" class="btn btn-warning">Book now</button>
                  </div>
              </div>
            </div>
          </div>
                  <!-- bmw modal -->
        <div class="modal fade" id="bmw" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">BMW i4</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img class="container" src="https://imgd-ct.aeplcdn.com/664x415/n/x5hko3a_1582599.jpg?q=80" alt="">
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <div class="cadetails">Basic Starts From: $ 2357</div>
                    <button routerLink="/confirmbooking" type="button" class="btn btn-warning">Book now</button>
                  </div>
              </div>
            </div>
          </div>
                  <!-- benz modal -->
        <div class="modal fade" id="benz" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Mercedes G-Wagon</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img class="container" src="https://imgd.aeplcdn.com/642x336/n/cw/ec/150621/g-class-exterior-right-front-three-quarter-3.jpeg?isig=0&q=80" alt="">
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <div class="cadetails">Basic Starts From: $ 2357</div>
                    <button routerLink="/confirmbooking" type="button" class="btn btn-warning">Book now</button>
                  </div>
              </div>
            </div>
          </div>
