<div class="row">
  <div class="col-lg-6 col-sm-12 col-md-6 mb-4" *ngFor="let car of allvehicles">
    <div class="d-flex flex-column">
      <figure>
        <img class="container-fluid" src="{{ car.image }}" />
        <figcaption>
          <span class="text-capitalize  ">{{ car.modelname }} </span>
          <h5>Basic Rate : {{ car.amount }}</h5>
        </figcaption>
      </figure>
      <button class="btn btn-warning text-capitalize" routerLink="/confirmbooking">{{ car.modelname }}</button>
    </div>
  </div>
</div>
