
.visible-booking{
    border-radius: 40px;
    height: 470px;
    width: 500px;
    border: 1px solid rgb(186, 186, 186);
}
.form-select{
    height: 70px;
    border-radius: 20px;
}
.date{
    border: 1px solid rgb(203, 203, 203);
    width: 200px;
    height: 70px;
    border-radius: 20px;

}
.searchbtn{
    height: 70px;
    border-radius: 20px;
}