.home{
    overflow: hidden;
    box-sizing: border-box;
}
.inputbox{
  border-radius: 50px;
}
.form-select{
    height: 55px;
  border-radius: 30px;
}
.date{
    
    height: 55px;
    border-radius: 30px;
}
.searchbtn{
    height: 55px;
    border-radius: 30px;
}

.carousel-item{
    width: 100%;
}
.carousel-item img{
    width: 100%;
    height: 100%;
}