<div class="d-flex justify-content-between container mt-5 mb-5 ">
    <div>
        <app-booking></app-booking>
    </div>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" style="width: 700px;">
        <div class="carousel-inner">
          <div class="carousel-item active " style="width: 700px;">
            <img style="border-radius: 50px;" src="https://www.evmwheels.com/assets/img/evmbanner1.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" style="width:700px;">
            <img style="border-radius: 50px;" src="https://www.evmwheels.com/assets/img/EVM%20XMAS.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item" style="width: 700px;">
            <img style="border-radius: 50px;" src="https://www.evmwheels.com/assets/img/evm.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<div>
  <img class="container-fluid mb-5" [src]="tabimage" alt="">
</div>
<div class="container"><hr></div>
<div class="container mt-5 mb-5">
  <h4 class="fw-bolder">Special offers & Discount</h4>
  <marquee behavior="" direction="">
    <img style="width: 600px;" class="me-4" src="https://www.evmwheels.com/front-theme/images/offer-image-1.png" alt="">
    <img style="width: 600px;" class="me-4" src="https://www.evmwheels.com/front-theme/images/offer-image-2.png" alt="">
    <img style="width: 600px;" class="me-4" src="https://www.evmwheels.com/front-theme/images/offer-image-3.png" alt="">
  </marquee>
  <hr>
</div>
<div class="container ">
  <img class="container mb-5 " [src]="tabimage1" alt="">
  <hr>
</div>
<div class="container d-flex justify-content-evenly mt-5">
  <div class="img">
    <img style="width: 900px;" src="https://www.evmwheels.com/front-theme/images/Group%20316.png" alt="">
  </div>
  <div class="text">
    <h1 class="fw-bold mb-3">WHY CAR CASTLE</h1>
    <h5 class="mb-3">Find the Perfect Ride for your Roadtrips!</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse illo similique quisquam libero, doloribus perspiciatis velit a minus exercitationem obcaecati, distinctio rerum neque! Nesciunt ut sunt, harum esse est deleniti quam. Nobis voluptatum eos suscipit, atque necessitatibus quisquam rerum illo.</p>
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga cumque qui doloribus odio, soluta eius perspiciatis enim consequatur modi fugiat quisquam, fugit unde omnis vero, placeat harum? Esse, quasi perferendis, id maxime aut quis rem magni natus, fuga nulla ad!</p>
    
    <p>sed soluta perspiciatis placeat rem laborum tenetur cum facere, velit perferendis dolor? Ad nihil voluptatibus dicta! Consequuntur exercitationem neque culpa architecto libero quae laboriosam harum adipisci saepe? Asperiores modi, odit soluta fugit ex cupiditate, minima, praesentium id autem ea in facilis perferendis.</p>
  </div>
</div>