<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <div class="dashboard">
            <h2 class="text-center mb-5">Username</h2>
            <hr>
            <div class="menu mt-5">
                <p>Dashboard</p>
                <p>Documents</p>
                <p>Profile</p>
                <p>Deactivate Account</p>
                <button class="menu-btn btn"> Logout</button>
            </div>
        </div>
        <div class="mt-5 fare">
            <h2>Fare Details</h2>
            <div class="d-flex justify-content-between">
                <p>Rate</p>
                <p>$ 2,357</p>
            </div>
            <div class="d-flex justify-content-between">
                <p>Addons Amount</p>
                <p>$ 0.00</p>
            </div>
            <div class="d-flex justify-content-between">
                <p>Insurance Amount</p>
                <p>$ 0.00</p>
            </div>
            <div class="d-flex justify-content-between">
                <p>Delivery Charge</p>
                <p>$ 0.00</p>
            </div>
            <div class="d-flex justify-content-between">
                <p>CGST</p>
                <p>$ 330</p>
            </div>
            <div class="d-flex justify-content-between">
                <p>SGST</p>
                <p>$ 330</p>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
                <h2>Total Amount</h2>
                <h2>$ 2,687</h2>
            </div>
        </div>
    </div>
</div>