<div>
    <div class="visible-booking   container-fluid justify-content-center p-4 shadow">
        <h5 class="fw-bolder text-center mb-4">CHOOSE YOUR SELF DRIVE RENTAL CAR</h5>
        <div class="location-input-box">
            <form>
                <div class="dropdown mb-4">
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Select Pickup Point</option>
                        <option value="1">Kalamassery</option>
                        <option value="2">Maradu</option>
                        <option value="3">Caferiders</option>
                        <option value="3">South Railway Station</option>
                        <option value="3">North Railway Station</option>
                        <option value="3">Edappally</option>
                        <option value="3">Kakkanad</option>
                      </select>
                </div>
                <div class="d-flex justify-content-evenly w-100 mb-4">
                    <input class="btn date" type="date" value="Start Date">
                    <input class="btn date" type="date" value="Start Date">
                </div>
                <button type="submit" class="btn btn-warning w-100 searchbtn">SEARCH</button>
            </form>
        </div>
    </div>
</div>


